---
import "../styles/global.css";
import HypertextStartmatter from "@basics/HypertextStartmatter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HypertextEndmatter from "@basics/HypertextEndmatter.astro";
import Heading from "@components/ContentHeading.astro";
import Counter from "@components/Counter.tsx";
import { marked } from 'marked';


import { type CollectionEntry, getCollection } from "astro:content";

type HeadingSize = "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
type HeadingTagName = HeadingSize; // Assuming tagName accepts the same values as size

function isValidHeadingSize(size: string): size is HeadingSize {
  return ["h1", "h2", "h3", "h4", "h5", "h6"].includes(size);
}

function isValidHeadingTagName(tagName: string): tagName is HeadingTagName {
  return ["h1", "h2", "h3", "h4", "h5", "h6"].includes(tagName);
}

// export async function getStaticPaths() {
//   const allSections: CollectionEntry<"sections">[] =
//     await getCollection("sections");
//   return allSections.map((section) => ({
//     params: { slug: section.slug },
//     props: { section },
//   }));
// }

const allSections: CollectionEntry<"sections">[] =
  await getCollection("sections");

console.log(allSections);

import headingsData from "../data/headingsData.json";
---

<HypertextStartmatter />
<BaseLayout>
  <Counter client:only="react" />
  {headingsData.headings.map((heading) => {
    const size = isValidHeadingSize(heading.size) ? heading.size : "h1";
    console.log(size)
    const tagName = isValidHeadingTagName(heading.tagName) ? heading.tagName : "h1";
    console.log(tagName)
    return (
      <Heading tagName={tagName} size={size}>
        {heading.text}
      </Heading>
    );
  })}
  <div class="base-reader-container">
    <!--this is where the code I need help with is. Needs to render as markdown so it can be styled properly. -->
    <ul>
      {allSections.map((section) => {
      const htmlContent = marked(section.body); 
      return (
        <li>
          <h1>{section.data.title}</h1>
          <div set:html={htmlContent} />
        </li>
      );
    })}
    </ul>
  </div>
</BaseLayout>
<HypertextEndmatter />

<style>
  h1 {
    font-size: 2em;
  }
  li {
    margin-bottom: 1rem;
  }
  p {
    font-family: var(--ff-legible);
    color: var(--clr-body);
  }

  .base-reader-container {
    margin: auto;
    padding: 1em;
    width: 94vw;
    height: 86vh;
    justify-self: start;
    border: 1px solid var(--bastille);
  }
</style>
